<ion-view view-title="Contact Info">
  <ion-content>
<!--     <div class="row header">
    	<div class="col">Name</div>
    	<div class="col">Position</div>
    	<div class="col">Email</div>
    	<div class="col">Phone Number</div>

    </div>
    <div class="row header">
    	<div class="col">Jennifer DeCarli</div>
    	<div class="col">Senior Director</div>
    	<div class="col">JDeCarli@herjustice.org</div>
    	<div class="col">646.442.1173</div>	
    </div>  -->
    <ion-list>
        <ion-item class="item-button-right"> Jennifer DeCarli <br> Senior Director
            <div class="buttons">
                <a class="button" ng-href="mailto:michelle.m.cunningham@tsgforce.com">
                    <i class="icon ion-email"></i>
                </a>
                <a class="button" ng-href="tel:+1-212-349-6457">
                    <i class="icon ion-ios-telephone-outline"></i>
                </a>
            </div>
        </ion-item>
        <ion-item class="item-button-right"> Maya Ovrutsky
            <div class="buttons">
                <button class="button">
                    <i class="icon ion-email"></i>
                </button>
                <a class="button" ng-href="tel:+1-212-349-6457">
                    <i class="icon ion-ios-telephone-outline"></i>
                </a>
            </div>
        </ion-item>

    </ion-list>


  </ion-content>
</ion-view>
