<ion-view view-title="Contact Info">
  <ion-content>
    <div class="row header">
    	<div class="col">Name</div>
    	<div class="col">Position</div>
    	<div class="col">Email</div>
    	<div class="col">Phone Number</div>

    </div>
    <div class="row header">
    	<div class="col">Jennifer DeCarli</div>
    	<div class="col">Senior Director</div>
    	<div class="col">JDeCarli@herjustice.org</div>
    	<div class="col">646.442.1173</div>	
    </div> 
   <!--  <table>
    	<thead>
    		<th>Name</th>
    		<th>Position</th>
    		<th>Email</th>
    		<th>Phone Number </th>
    	</thead>
    	<tr>
    		<td>Jennifer DeCarli</td>
    		<td>Senior Director</td>
    		<td>JDeCarli@herjustice.org</td>
    		<td>646.422.1173</td>
    	</tr>
    </table> -->

  </ion-content>
</ion-view>
