<ion-view view-title="Contact Info">
  <ion-content>
	
    <ion-list>
	<div ng-controller="contact">
		<div ng-repeat="contactInfo in contactInformation" ng-controller="contact">
						
        <ion-item class="item-button-right"> {{contactInfo.Name}} <br> {{contactInfo.position}}
            <div class="buttons">
                <a class="button button-assertive" ng-href="mailto:jdecarli@herjustice.org">
                    <i class="icon ion-email"></i>
                </a>
                <a class="button button-assertive" ng-href="tel:+1-212-349-6457">
                    <i class="icon ion-ios-telephone-outline"></i>
                </a>
            </div>
        </ion-item>
       
	</div>
	</div>
    </ion-list>


  </ion-content>
</ion-view>
