<ion-view view-title="Court House">
  <ion-content>
    <body>
       <!-- Declaring Controller -->       
            <div data-ng-controller="courtHouseCtrl">
        <!-- Initating Court Type Law Drop Dowm -->     
                <div>
                    <b>Court Type:</b> 
                        <select ng-options="court as court.name for court in meta.courtList track by court.id" ng-model="current.court"></select> 
                </div>
                <br />
        <!-- Initating Borough Drop Dowm -->     
                <div ng-if="current.court">               
                    <div>
                      <b>Borough: </b> 
                        <select ng-options="borough as borough.name for borough in current.court.boroughList track by borough.id" ng-model="current.borough"></select>
                    </div>  
               </div>
                <br />
        <!--Initating Family Court - Manhattan Accordion-->
              <div ng-if="current.court.id==1"> 
                    <div ng-if="current.borough.id==1">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Family Court - Brooklyn Accordion-->
              <div ng-if="current.court.id==1"> 
                    <div ng-if="current.borough.id==2">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Family Court - Queens Accordion-->
              <div ng-if="current.court.id==1"> 
                    <div ng-if="current.borough.id==3">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Family Court - Bronx Accordion-->
              <div ng-if="current.court.id==1"> 
                    <div ng-if="current.borough.id==4">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Family Court - Staten Island Accordion-->
              <div ng-if="current.court.id==1"> 
                    <div ng-if="current.borough.id==5">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Supreme Court Civil - Manhattan Accordion-->
              <div ng-if="current.court.id==2"> 
                    <div ng-if="current.borough.id==1">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Supreme Court Civil - Brooklyn Accordion-->
              <div ng-if="current.court.id==2"> 
                    <div ng-if="current.borough.id==2">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Supreme Court Civil - Queens Accordion-->
              <div ng-if="current.court.id==2"> 
                    <div ng-if="current.borough.id==3">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div> 
        <!--Initating Supreme Court Civil - Bronx Accordion-->
              <div ng-if="current.court.id==2"> 
                    <div ng-if="current.borough.id==4">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>     
        <!--Initating Supreme Court Civil - Staten Island Accordion-->
              <div ng-if="current.court.id==2"> 
                    <div ng-if="current.borough.id==5">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>    
        <!--Initating Supreme Court Criminal - Manhattan Accordion-->
              <div ng-if="current.court.id==3"> 
                    <div ng-if="current.borough.id==1">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>    
        <!--Initating Supreme Court Criminal - Brooklyn Accordion-->
              <div ng-if="current.court.id==3"> 
                    <div ng-if="current.borough.id==2">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>    
        <!--Initating Supreme Court Criminal - Queens Accordion-->
              <div ng-if="current.court.id==3"> 
                    <div ng-if="current.borough.id==3">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Supreme Court Criminal - Bronx Accordion-->
              <div ng-if="current.court.id==3"> 
                    <div ng-if="current.borough.id==4">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>            
        <!--Initating Supreme Court Criminal - Staten Island Accordion-->
              <div ng-if="current.court.id==3"> 
                    <div ng-if="current.borough.id==5">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Address</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Safe Room Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Room Numbers</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab four')">Judge Directory</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab four')">
                                    <table>
                                      <tr ng-repeat="x in judgeDirectoryHead.judgeListHead">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    
                                      <tr ng-repeat="x in judgeDirectory.judgeList | orderBy: 'name'">
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.room }}</td>
                                        <td>{{ x.phone }}</td>
                                      </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab five')">Proceedural Information</div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab five')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>     
            
            </div>       
        </body>
  </ion-content>
</ion-view>
