<ion-view view-title="FAQs">
  <ion-content>
  <h3 style="text-align:center"> Welcome to FAQ</h3>
  </br>
	<!--controller to show the drop down for faq page with court name-->
	<div data-ng-controller="FAQCtrl">
	<h4 style="text-align:center"><strong>Court Type : </strong> &nbsp;&nbsp;
		<select ng-model="courtSelected" ng-options="court.title for court in courts">
		</select>
		</br>
		</br>
		<h4 style="text-align:center;font-size:large;font-style:italic"><strong>{{courtSelected.title}}'s FAQs</strong></h4>
	
	</h4>
	
	<!--controller and for loop to traverse through questions for selected court-->
	<div ng-if="courtSelected.title=='General Family Court'">
		<div class="accordion__container">
			<div ng-controller="courtFAQ">
				<div ng-repeat="family_court in family" ng-controller="courtFAQ">
					</br>
					<div class="accordion__tab">
						<div class="accordion__tab-title" ng-click="toggleTab()">{{family_court.Question}}
                           <i class="pull-right ion" ng-class="{'ion-chevron-down': show, 'ion-chevron-right': !show}"></i>
						</div>

						<div class="accordion__tab-content" data-ng-show="show">{{family_court.Answer}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-if="courtSelected.title=='Custody/Visitation Court'">
		<div class="accordion__container">
			<div ng-controller="courtFAQ">
				<div ng-repeat="custody_court in custody" ng-controller="courtFAQ">
					</br>
					<div class="accordion__tab">
						<div class="accordion__tab-title" ng-click="toggleTab()">{{custody_court.Question}}
                           <i class="pull-right ion" ng-class="{'ion-chevron-down': show, 'ion-chevron-right': !show}"></i>
						</div>

						<div class="accordion__tab-content" data-ng-show="show">{{custody_court.Answer}}</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
  </ion-content>
</ion-view>
