<ion-view view-title="Stipulation Language">
  <ion-content>
    <body>
        <!-- Declaring Controller -->       
            <div data-ng-controller="stipLangCtrl">
        <!-- Initating Procedural Law Drop Dowm -->     
                <div>
                    <b>Procedure:</b> 
                        <select ng-options="procedure as procedure.name for procedure in meta.proceduralList track by procedure.id" ng-model="current.procedure"></select> 
                </div>
                <br />
        <!-- Initating Law Type Drop Dowm -->     
                <div ng-if="current.procedure">               
                    <div>
                      <b>Law Type: </b> 
                        <select ng-options="lawType as lawType.name for lawType in current.procedure.lawTypeList track by lawType.id" ng-model="current.lawType"></select>
                    </div>  
               </div>
                <br />
        <!--Initating Family Court - Order of Protection Accordion-->
              <div ng-if="current.procedure.id==1"> 
                    <div ng-if="current.lawType.id==1">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Order of Protection 1
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab one'), 'ion-chevron-right': !isOpenTab('tab one')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Order of Protection 2
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab two'), 'ion-chevron-right': !isOpenTab('tab two')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Order of Protection 3
                                    <i class="pull-right" ng-class="{'ion-chevron-down': isOpenTab('tab three'), 'ion-chevron-right': !isOpenTab('tab three')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Family Court - Child Support, Spousal Support and Spousal Maintenance Accordion-->
                <div ng-if="current.procedure.id==1"> 
                    <div ng-if="current.lawType.id==2">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Child Support, Spousal Support and Spousal Maintenance 1
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab one'), 'ion-chevron-right': !isOpenTab('tab one')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Child Support, Spousal Support and Spousal Maintenance 2
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab two'), 'ion-chevron-right': !isOpenTab('tab two')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Child Support, Spousal Support and Spousal Maintenance 3
                                    <i class="pull-right" ng-class="{'ion-chevron-down': isOpenTab('tab three'), 'ion-chevron-right': !isOpenTab('tab three')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Family Court - Custody and  Visitation Accordion-->
                <div ng-if="current.procedure.id==1"> 
                    <div ng-if="current.lawType.id==3">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Custody and Visitation 1
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab one'), 'ion-chevron-right': !isOpenTab('tab one')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Custody and Visitation 2
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab two'), 'ion-chevron-right': !isOpenTab('tab two')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Custody and Visitation 3
                                    <i class="pull-right" ng-class="{'ion-chevron-down': isOpenTab('tab three'), 'ion-chevron-right': !isOpenTab('tab three')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Family Court - Paternity Accordion-->
                <div ng-if="current.procedure.id==1"> 
                    <div ng-if="current.lawType.id==4">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Paternity 1
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab one'), 'ion-chevron-right': !isOpenTab('tab one')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Paternity 2
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab two'), 'ion-chevron-right': !isOpenTab('tab two')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Paternity 3
                                    <i class="pull-right" ng-class="{'ion-chevron-down': isOpenTab('tab three'), 'ion-chevron-right': !isOpenTab('tab three')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
        <!--Initating Matriominal Court - Court Issue Accordion-->
                <div ng-if="current.procedure.id==2"> 
                    <div ng-if="current.lawType.id==1">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Court Issue 1
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab one'), 'ion-chevron-right': !isOpenTab('tab one')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Court Issue 2
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab two'), 'ion-chevron-right': !isOpenTab('tab two')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Court Issue 3
                                    <i class="pull-right" ng-class="{'ion-chevron-down': isOpenTab('tab three'), 'ion-chevron-right': !isOpenTab('tab three')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>

        <!--Initating Immigration Court - Court Issue Accordion-->
                <div ng-if="current.procedure.id==3"> 
                    <div ng-if="current.lawType.id==1">                    
                        <div class="accordion__container">
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab one')">Court Issue 1
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab one'), 'ion-chevron-right': !isOpenTab('tab one')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab one')">Article 1 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab two')">Court Issue 2
                                    <i class="pull-right ion" ng-class="{'ion-chevron-down': isOpenTab('tab two'), 'ion-chevron-right': !isOpenTab('tab two')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab two')">Article 2 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                            <div class="accordion__tab">
                                <div class="accordion__tab-title" data-ng-click="openTab('tab three')">Court Issue 3
                                    <i class="pull-right" ng-class="{'ion-chevron-down': isOpenTab('tab three'), 'ion-chevron-right': !isOpenTab('tab three')}"></i>
                                </div>
                                <div class="accordion__tab-content" data-ng-show="isOpenTab('tab three')">Article 3 content goes here!</div>
                            </div>
                            <!-- .accordion__tab -->
                        </div>
                    </div>
                </div>
            </div>  
    </body> 
  </ion-content>
</ion-view>
