/* Empty. Add your own CSS if you like */




.faq__container {
    background: #eee;
    border: 1px solid #ccc;
}

.background{
	background:url(../img/Her-Justice.jpg) no-repeat top center fixed;  /* 170px x 200px */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	background-position:fixed;
   height:auto;
   max-width:100%;
   width:auto;
   max-height:100%;
}
.header-temp{
	margin-top:10px;
	height: 70%;
	width:100%;
	margin-right:20px;
	
	
}
.accordion__container {
    background: #eee;
    border: 1px solid #ccc;
    padding: 20px;
}

.accordion__tab {
    background: #aaa;
    color: #fff;
    border-bottom: 1px solid white;
}

.accordion__tab-title {
    background: #888;
    padding: 5px;
    cursor: pointer;
}

.accordion__tab-title > i {
	float: right; 
	left: 0;
}
.accordion__tab-content {
    background: #999;
    padding: 20px;
}
.button {
	font-size:13px;
}

.button.active{
  background-color: orange !important;
}

.output {
	font-size: 40px;
	text-align: center;
}

.selections {
	font-weight: bold;
	font-size: 30px;
	padding: 10px 10px 10px 10px;
}

/* cellpadding */
th, td { padding: 5px; }

/* cellspacing */
table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */
table { border-collapse: collapse; border-spacing: 0; }   /* cellspacing="0" */

/* valign */
th, td { vertical-align: top; }

/* align (center) */
table { margin: 0 auto; }